<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">Welcome to HomePage FrontEnd</div>
        <h3>Welcome to HomePage FrontEnd Title </h3>
      </div>
    </div>
  </div>
</div>
