<% statusHelper = (status, link)=> { %>
<a href="<%= link %>">
  <% if(status === "active") { %>
  <span class="label label-success"><%= status %></span>
  <% } else if(status === "inactive") { %>
  <span class="label label-warning"><%= status %></span>
  <% } %>
</a>
<% } %>
